
*.db
triplex/.vs/triplex/v16/.suo
triplex/.vs/triplex/v16/Browse.VC.opendb
triplex/.vs/triplex/v16/ipch/AutoPCH/bc42079bbead5760/TRIPLEX.ipch
triplex/Debug/triplex.ilk
triplex/Debug/triplex.pdb
triplex/triplex.sln
triplex/triplex/Debug/triplex.log
triplex/triplex/Debug/triplex.obj
triplex/triplex/Debug/triplex.tlog/CL.command.1.tlog
triplex/triplex/Debug/triplex.tlog/CL.read.1.tlog
triplex/triplex/Debug/triplex.tlog/CL.write.1.tlog
triplex/triplex/Debug/triplex.tlog/link.command.1.tlog
triplex/triplex/Debug/triplex.tlog/link.read.1.tlog
triplex/triplex/Debug/triplex.tlog/link.write.1.tlog
triplex/triplex/Debug/triplex.tlog/triplex.lastbuildstate
triplex/triplex/Debug/vc142.idb
triplex/triplex/Debug/vc142.pdb
triplex/triplex/triplex.vcxproj
triplex/triplex/triplex.vcxproj.filters
triplex/triplex/triplex.vcxproj.user
